<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="col-sm-6">
<div class="card featured-card">
    <div class="row text-center">
        <div class="col-12 wrapthumbnail">
            <a href="{{ post.url | absolute_url }}">
            <!-- <div class="thumbnail" style="background-image:url({{ site.baseurl }}/{{ post.image }});"></div> -->
            <a href="{{ post.url | absolute_url }}">
                {% if post.image %} <img class="img-fluid" src="{{ site.baseurl }}/{{ post.image }}"
                    alt="{{ post.title }}"> {% endif %}
            </a>
            </a>
        </div>
        <div class="col-12">
            <div class="card-block mt-4">
                <h2 class="card-title m-2"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end post -->